#main_menu_pane {
    -fx-background-color: darkslateblue;
}

#sql_panel, #report_panel {
/   -fx-border-width: 1;
    -fx-border-color: green;
}

#content_pane {
    -fx-border-width: 1;
    -fx-border-color: red;
}

#scroll {
    -fx-border-width: 1;
    -fx-border-color: pink;
}

#vbox {
    -fx-border-width: 1;
    -fx-border-color: blue;
}

#anchor_inside {
    -fx-border-width: 1;
    -fx-border-color: blue;
}

#tp1, tp2 {
    -fx-border-width: 1;
    -fx-border-color: darkgreen;
}

.invalid {
    -fx-background-color: rgba(255,0,0,0.2);
}

.main_menu_button {
    -fx-background-color: darkslateblue;
    -fx-text-fill: aliceblue;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
}

.main_menu_button:hover {
    -fx-background-color: midnightblue;
}