#main_menu_pane {
    -fx-background-color: darkslateblue;
    -fx-pref-width: 200;
    -fx-pref-height: 768;
}

#sql_pane {
/*    -fx-border-width: 1;
    -fx-border-color: green; */
}

#content_pane {
/*    -fx-border-width: 1;
    -fx-border-color: red; */
}

.main_menu_button {
    -fx-background-color: darkslateblue;
    -fx-text-fill: aliceblue;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
}

.main_menu_button:hover {
    -fx-background-color: midnightblue;
}